<!doctype html>
<html lang="fr">
    <head>
        <title>Liste des utilisateurs</title>
        <%- include ("partials/head.ejs") %>
        <style>
            .card:hover {
                transform: scale(1.05);
                transition: transform 0.2s;
            }
            .card-link {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <%- include ("partials/navbar.ejs", {title: "Liste des utilisateurs"}) %>
        <div class="container">
            <div class="row">
                <% for(var i=0; i < users?.length; i++) {%>
                    <div class="col-md-4 mb-4">
                        <a href="user/<%= users[i].discordId %>" class="card-link">
                            <div class="card">
                                <img src="<%= users[i].discordAvatar %>" class="card-img-top" alt="Photo de profil de <%= users[i].discordName %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= users[i].discordName %> (<%= users[i].twitchName %>)</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>

